<div class="fullscreen-container">
  
  
  <div class="content-box text-center">
    <h1 class="display-5 fw-bold">Καλώς ήρθατε στην Online Pharmacy!</h1>
    <p class="lead text-muted mt-3">
      Εγγραφείτε για να αποκτήσετε πρόσβαση στις υπηρεσίες μας ή συνδεθείτε αν έχετε ήδη λογαριασμό.
    </p>

    <div class="mt-4 d-flex justify-content-center gap-3">
      <a routerLink="/user-registration" class="btn btn-primary btn-lg me-2">Εγγραφή</a>
      <a routerLink="/user-login" class="btn btn-outline-secondary btn-lg">Σύνδεση</a>
    </div>
  </div>

</div>




  
  
